*{
    box-sizing: border-box;
} 
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
header {
    padding: 80px;
    text-align: center;
    background: honeydew;
    color: aliceblue;
}
header h1 {
    font-size: 40px;
}
nav {
    overflow: hidden;
    background-color: antiquewhite;
}
nav a {
    float: left;
    display: block;
    color: azure;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
nav a.right{
    float: right;
}
nav a.hover{
    background-color: #ddd;
    color: black;
}
.row {
    display: -ms-flexbox; /*IE10*/
    display: flex;
    -ms-flex-wrap: wrap; /*IE10*/
    flex-wrap: wrap;
}
.side{
    -ms-flex: 70%; /*IE10*/
    flex: 70%;
    background-color: white;
    padding: 20px;
    
}